USE [master]
GO
/****** Object:  Database [LiveStock]    Script Date: 11/2/2019 7:47:33 PM ******/
CREATE DATABASE [LiveStock]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LiveStock', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\LiveStock.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LiveStock_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\LiveStock_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LiveStock].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LiveStock]
GO
/****** Object:  Table [dbo].[HDF]    Script Date: 11/2/2019 7:47:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HDF](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[hdf_name] [varchar](max) NOT NULL,
	[branch_location] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
